h1
{
  margin-left: 500px;
  margin-top: 250px;
  border: 2px solid blue;
  width: 25%;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

input{
  margin-left: 500px;
  margin-top: 50px;
  border: 2px solid blue;
  width: 25%;
  padding: 10px 10px 10px 10px;
}
